<ul>
	<li class="nav-item logo">
		<img src="/res/logo.gif" class="logo">
		<h1>Solid Engine</h1>
	</li>
	{{#each this as |menu_item|}}
	<li class="nav-item{{#if menu_item.is_current}} current{{/if}}">
		<a href="/{{menu_item.path}}">{{menu_item.text}}</a>
	</li>
	{{/each}}
</ul>
