<div class="logo">
	<picture>
		<source type="image/webp" srcset="/res/logo.webp">
		<img src="/res/logo.png" alt="logo" width="112" height="123">
	</picture>
	<h1>Solid Engine</h1>
</div>
<button class="push-button menu-toggle-button">☰</button>
<ul class="menu">
	{{#each this as |menu_item|}}
	<li class="nav-item{{#if menu_item.is_current}} current{{/if}}">
		<a href="/{{menu_item.path}}">{{menu_item.text}}</a>
	</li>
	{{/each}}
</ul>
